.btn-close {
  position: fixed;
  top: 20px;
  left: 50%;
  z-index: 9999;
  width: 30px;
  height: 30px;
  transform: translateX(-50%);
  will-change: transform;
}

.btn-close svg {
  transition: transform 0.4s ease;
}

.btn-close:hover svg {
  transform: rotate(-90deg);
}