/* Desktop */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-secondary);
    font-size: 12px;
    height: 54px;
    border-top: 2.5px solid var(--color-primary);
    margin-right: var(--right-margin);
    margin-left: var(--left-margin);
}

.narrow-footer {
    display: none;
}


/* Tablet */
@media (max-width: 1024px) {

}

/* Mobile */
@media (max-width: 768px) {
    .narrow-footer {
        display: inline;
    }
    .wide-footer {
        display: none;
    }
}