/* Desktop */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.section {
    display: flex;
    /* Changed from grid to simplify */
    position: absolute;
    height: 100vh;
    /* Use viewport height instead of percentage */
    width: 100%;
    min-height: 400px;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    background-color: antiquewhite;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
    /* Allow it to grow to fill the section */
}

.e404 {
    font-size: 4rem;
    font-weight: 900;
    line-height: 2;
}

.e404-sub {
    font-size: 1.25rem;
}

.e404-sub a {
    text-decoration: underline;
    cursor: pointer;
}

/* Tablet */
@media (max-width: 1024px) {
    .e404 {
        font-size: 3.3rem;
        line-height: 1.6;
    }

    .e404-sub {
        font-size: 1rem;
    }
}

/* Mobile: 3 columns */
@media (max-width: 768px) {
    .e404 {
        font-size: 2.8rem;
    }

    .e404-sub {
        width: 200px;
        font-size: .9rem;
        text-align: center;
    }
}