/* Base Styles */
body {
  margin: 0;
  padding: 0;
}

/* Animation Definitions - Separated from elements */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--base-width);
  margin: 0 auto;
  padding: 2rem;
}

main {
  margin-top: 60px;
}


.profiles-wrapper {
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  font-size: 1rem;
  place-items: center;
}

.profile {
  padding-bottom: 3rem;
}

.profile > * {
  font-size: 1rem;
  line-height: 1.2;
  text-align: justify;
  margin-bottom: 2px;
}


/* Responsive Styles */
@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 500px) {}