/* Desktop */
body {
    background-image: url("/images/about/fond.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.page-wrapper {
    position: relative;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas:
        "header"
        "opening"
        "profiles-wrapper"
        "footer";
}


header {
    grid-area: header;
    color: white;
}

footer {
    grid-area: footer;
}


.main {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "opening"
        "profiles-wrapper";
    color: white;
}

.opening {
    grid-area: opening;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 3rem;
    user-select: none;
    min-height: 300px;
    /* margin: 50px 0; */
    cursor: pointer;
}

.main a:hover {
    text-decoration: none;
}


/* .opening p {
    position: absolute;
    width: 100%;
    top: 45vh;
} */

.profiles-wrapper {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    padding: 1rem 1rem 2rem;
    gap: 2rem;
    width: 100%;
}

.profile h4 {
    font-weight: 700;
    line-height: 1.75;
}

.profile p {
    text-align: justify;
    line-height: 1.23;
}

header,
footer {
    border-color: white;
}


/* FORCE VERTICAL POSITION */
/* @media (max-height: 250px) {
    .opening {
        align-self: center;
        min-height: unset;
        margin: 50px 0;
    }

    .opening p {
        position: unset;
        width: unset;
        top: unset;
    }

} */

/* Tablet */
@media (max-width: 1024px) {}

/* Mobile */
@media (max-width: 768px) {
    .notes-from-architecture-image {
        width: 80%;
    }

    .opening {
        font-size: 2rem;
        margin-bottom: 10vh;
    }

    .profiles-wrapper {
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        width: 100vw;
        place-items: center;
        /* align-items: center;
        justify-content: center; */

        padding: 2rem;
    }

    .profile h4 {
        font-weight: 700;
        line-height: 1.75;
        font-size: larger;
    }

    .profile p {
        text-align: justify;
        font-size: larger;
        line-height: 1.5;
        max-width: 450px;

    }
}