/* Desktop */
/* Smooth transition for all elements */
* {
    transition: opacity 0.5s ease;
}

.page-wrapper {
    position: relative;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas:
        "header"
        "title"
        "presentation"
        "footer";
}



.main {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "title"
        "presentation";
}


.title {
    grid-area: title;
    font-size: 3rem;
    user-select: none;
    text-align: center;
    min-height: 200px;
    margin: 50px 0;
}

.title p {
    position: absolute;
    width: 100%;
    top: 45vh;

  }


header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

.presentation {
    grid-area: presentation;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 1rem;
    width: 100%;
    line-height: 1.5;
}

.notes-from-architecture-image {
    position: absolute;
    width: 900px;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    /* Initially hidden */
    transition: opacity .5s ease, visibility .5s ease;
}

.notes-from-architecture-image.visible {
    opacity: 1;
    visibility: visible;
    /* Make it visible when faded in */
}

/* Keep your existing fade-out effects */
.section.fade-out header,
.section.fade-out footer,
.section.fade-out .hide,
.section.fade-out .title {
    opacity: 0;
}

/* Now we fade in the image when section has fade-out */
.section.fade-out .notes-from-architecture-image {
    opacity: 1;
    visibility: visible;
}





@media (max-height: 250px) {
    .title {
        align-self: center;
        min-height: unset;
        margin: 50px 0;
    }
    
    .title p {
        position: unset;
        width: unset;
        top: unset;
      }
    
}


/* Tablet */
@media (max-width: 1024px) {
    .notes-from-architecture-image {
        width: 700px;
    }

}

/* Mobile */
@media (max-width: 768px) {
    .notes-from-architecture-image {
        width: 80%;
    }

    .title {
        font-size: 2rem;
        margin-bottom: 10vh;
    }

    .presentation {
        font-size: 12px;
        padding: 0.5rem;
    }

}