/* Desktop */
/* Smooth transition for all elements */
* {
    transition: opacity 0.5s ease;
}

.page-wrapper {
    position: relative;
    height: 100vh;
    display: grid;
}


.main {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    /* This gives the title section all remaining space */
    grid-template-areas:
        "title"
        "presentation";
}

.title {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    user-select: none;
    min-height: 180px;
    height: 100%;
    cursor: pointer;
}

.title p {
    height: calc(3rem + 2px);
}

.presentation {
    grid-area: presentation;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    padding: 0 2rem 2rem 2rem;
    width: 100%;
    /* height: auto; */
}

/* Keep your existing fade-out effects */
.page-wrapper.fade-out .hide,
.page-wrapper.fade-out .title {
    opacity: 0;
}

/* Now we fade in the image when section has fade-out */
.page-wrapper.fade-out {
    opacity: 1;
    visibility: visible;
}



/* Tablet */
@media (max-width: 1024px) {}

/* Mobile */
@media (max-width: 768px) {
    .title {
        font-size: 2.2rem;
        text-decoration: underline;
    }

    .title p {
        height: calc(2.2rem + 2px);
    }

    .presentation {
        padding: 0 1rem 1rem 1rem;
        line-height: 1.5;
    }

}