/* Desktop */
/* Smooth transition for all elements */
* {
    transition: opacity 0.5s ease;
}

.section {
    /* Ensure the content is in a single column */
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;

    /* Ensure the content is fully covered */
    position: absolute;
    height: 100%;
    min-height: 400px;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}


.main {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.title {
    font-size: 3rem;
    user-select: none;
}


.presentation {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    /* Place in the main content area of the grid */
    padding: 1rem;
    width: 100%;
    line-height: 1.5;
}

.notes-from-architecture-image {
    position: absolute;
    width: 900px;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    /* Initially hidden */
    transition: opacity .5s ease, visibility .5s ease;
}

.notes-from-architecture-image.visible {
    opacity: 1;
    visibility: visible;
    /* Make it visible when faded in */
}

/* Keep your existing fade-out effects */
.section.fade-out header,
.section.fade-out footer,
.section.fade-out .hide,
.section.fade-out .title {
    opacity: 0;
}

/* Now we fade in the image when section has fade-out */
.section.fade-out .notes-from-architecture-image {
    opacity: 1;
    visibility: visible;
}






/* Tablet */
@media (max-width: 1024px) {}

/* Mobile: 3 columns */
@media (max-width: 768px) {
    .title {
        font-size: 2rem;
        margin-bottom: 10vh;
    }

    .presentation {
        font-size: 12px;
        padding: 0.5rem;
    }

}